<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Control carro dc</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <script src="/static/Chart.min.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="/static/index.css">
  </head>

<h1>Control Carro DC</h1>
<br>
<div class="box">
    <div class="container">
        <a href="#" id="up" class="button-3d" class="btn1">ADELANTE</a>
    </div>    
    <div class="container-side">
        <a href="#" id="left" class="button-3d">IZQUIERDA</a>
        <a href="#" id="rigth" class="button-3d">DERECHA</a>
    </div>
    <div class="container">
        <a href="#" id="down" class="button-3d">ABAJO</a>
    </div>

    <div class="container-down">
      <a href="/graph_temp" id="down" class="button-3d-temp" target="_blank">Ver temperatura</a>
  </div>

  </div>
   
</html>

